<Project>
    <PropertyGroup>
        <Sts2Dir>Path\To\SteamLibrary\steamapps\common\Slay the Spire 2</Sts2Dir>
        <Sts2DataDir>$(Sts2Dir)\data_sts2_windows_x86_64</Sts2DataDir>
        <GodotExe>Path\To\Godot\Godot_version-stable_mono_win64.exe</GodotExe>
        <RitsuLibDir>..\sts-2-ritsulib\</RitsuLibDir>
    </PropertyGroup>
</Project>
